body {
  background: whitesmoke;
  font-family: BlinkMacSystemFont;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.user-message {
  margin: 10px 0;
  padding: 0.3em;
  padding-left: 0.8em;
  border-left: 0.5em solid #D8D8D8;
  background: white;
}

.all-messages {
  bottom: 66px;
  position: absolute;
  list-style: none;
  padding: 10px;
  width: 97%;
}

.message-field {
  word-wrap: break-word;
  line-height: 1.5;
  padding-left: 0;
  border: 0;
  margin-right: 5px;
}

.scroll-vert {
  overflow-y: scroll;
}

.chat-input {
  width: 97%;
  margin: 9px 10px;
  color: #aa7243;
  position: absolute;
  bottom: 0;
  border: 0;
  font-size: 20px;
  padding: 20px 10px;
}
