body {
  background: whitesmoke;
  font-family: BlinkMacSystemFont;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.user-message {
  margin: 10px 0;
  padding: 0.3em;
  padding-left: 0.8em;
  border-left: 0.5em solid;
  background: white;
}

.all-messages {
  bottom: 130px;
  position: absolute;
  list-style: none;
  padding: 10px;
  width: 50%;
}

.message-field {
  word-wrap: break-word;
  line-height: 1.5;
  padding-left: 0;
  border: 0;
  margin-right: 5px;
}

.scroll-vert {
  overflow-y: scroll;
}

.chat-input {
  width: 97%;
  margin: 9px 10px;
  color: #aa7243;
  position: absolute;
  bottom: 0;
  border: 0;
  font-size: 20px;
  padding: 20px 10px;
}

.spinner {
  width: 70px;
  bottom: 80px;
  left: 10px;
  position: absolute;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.all-features {
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 130px;
}

.feature {
  list-style: none;
  padding: 15px;
}
